<div class="container" id="notif-show">
  <div class="appointment-pop">
    <h4 id="pop-title">We've got you an available slot!</h4>
    <div class="pop-schedule">
      <i class="far fa-calendar"></i> <%= @notification.appointment.start_at.strftime("%A, %B %-d ") %>
      <br>
      <i class="far fa-clock"></i> <%= @notification.appointment.start_at.strftime("%H:%M") %>
    </div>
  </div>
  <div class="doc-pop">
    <h4 id="ter-title">Your doctor:</h4>
    <div class="card-doc" id="notif-doc-card">
      <img id="doc-image"src=<%= @notification.appointment.doctor.picture_url%> alt="A doctor">
      <div class="card-doc-info">
        <p id="notif-doc-info">Dr <%= @notification.appointment.doctor.first_name %> <%= @notification.appointment.doctor.last_name %></p>
        <p id="notif-doc-info"><%= @notification.appointment.doctor.address%> </p>
      </div>
    </div>
  </div>
  <div class="confirm-pop">
    <h4 id="ter-title">Will you book this appointment?</h4>
    <h1 id="notif-timer" data-notificationtime="<%= @notification %>"></h1>
    <div class="confirm-buttons">
      <%= button_to "Confirm", notification_path(@notification),
                               method: :patch,
                               params: { notification: { status: "confirmed" }},
                               :class => 'btn-yellow' %>

      <%= button_to "Decline", notification_path(@notification),
                               method: :patch,
                               params: { notification: { status: "declined" }},
                               :class => 'cancel-green mt-3' %>
    </div>
  </div>
</div>

<!-- javascript code for timer, refactor later -->

<%= content_for(:after_js) do  %>
<script>

  const notifTimer = document.getElementById("notif-timer");
  // const countdown = notifTime.dataset.notificationTime

  if (notifTimer) {
    var s = Number("<%= @notification.created_at.to_i * 1000 %>");

    var countDownDate = new Date(s);
    var coundDownPlus5 = new Date(s + 300) ;
    console.log(countDownDate);

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();
      console.log(now);
      // Find the distance between now and the count down date
      var timeDiff = now -coundDownPlus5;
      console.log(coundDownPlus5);
      // If the count down is over, write some text
      if (timeDiff < 0) {
        clearInterval(x);
        notifTimer.innerHTML = "EXPIRED";
        return;
      }
      // otherwise, calculate the minutes and seconds left
      // Time calculations for days, hours, minutes and seconds
      var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

      // Output the result in timer element
      notifTimer.innerHTML = minutes + "m " + seconds + "s ";
    }, 1000);

  }

</script>
<% end %>
