<div class="container">
  <div class="navbar navbar-expand navbar-light navbar-lewagon navbar-fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "menu-01.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown" id="doc-dropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "My searches", my_searches_path, class: "dropdown-item" %>
              <%= link_to "My appointments", my_appointments_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= image_tag "menu-01.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown" >
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </div>
        <% end %>
      </ul>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

       <%= select_tag "specialty", options_from_collection_for_select(
      @specialties,
      :name, :name),
      class: 'select2' %>


    <%= link_to "#", class: "navbar-brand show-map-text", :id => "toggle-map" do %>
      <span class="span-map">Map</span>
      <span class="span-list">List </span>
    <% end %>
  </div>
</div>
