<div class="banner">
  <div class="container">
    <div class="landing-search">
      <div class="flex-search">
        <div class="title-wrapper">
          <h1 class="title">Secure doctor appointments today</h1>
        </div>
        <%= form_tag doctors_path, method: :get, class: "search-form-control" do %>
            <%= select_tag "specialties", options_from_collection_for_select(
            @specialties.all,
            :id, :name),
            class: 'form-control', required: true %>
            <%= text_field_tag :location,
              params[:location], as: :string,
              placeholder: 'Enter location (address, city, etc)',
              class: 'form-control',
              id: 'address-input',
              required: true %>
            <div class="distance-wrapper"><p>Distance from location (in km): </p></div>
            <%= range_field_tag(:radius, :radius, in: 0..150, step: 5, class: 'form-control') %>
            <div class="target">5</div>
            <%= submit_tag "Search", class: "btn-yellow mt-3" %>
        <% end %>
      </div>
    </div>
    <div class="home-footer">
      <div class="home-card">

      </div>
    </div>
  </div>
</div>
