<div class="banner">
  <div class="container">
    <div class="landing-search">
      <div class="flex-search">
        <div class="title-wrapper">
          <h1 class="title">Secure doctor appointments today</h1>
        </div>
        <%= form_tag doctors_path, method: :get, class: "search-form-control" do %>
            <%= select_tag "specialties", options_from_collection_for_select(
            @specialties.all,
            :id, :name),
            class: 'form-control', required: true %>
            <%= text_field_tag :location,
              params[:location], as: :string,
              placeholder: 'Enter location (address, city, etc)',
              id: 'address-input',
              required: true %>
            <%= label_tag "radius", "Travel distance" %>
            <%= select_tag "radius", options_from_collection_for_select([[2, "2 km"], [5, "5 km"], [10, "10 km"], [25, "25 km"], [5, "50 km"]], :first, :last) %>
            <%#= range_field_tag(:radius, 0, max: 150, step: 5, class: 'form-control') %>
            <%= submit_tag "Get your appointment!", class: "btn-yellow mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
