<div class="banner">
  <%= render partial: "homepage_navbar" %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="landing-search">
          <div class="flex-search">
            <h2 class="title">Secure doctor appointments today</h2>
            <%= form_tag doctors_path, method: :get, class: "search-form-control" do %>
                <%= select_tag "dropdown", options_from_collection_for_select(
                @specialties.all,
                :name, :name),
                class: 'form-control' %>
                <%= text_field_tag :address, params[:address], as: :string, class: 'form-control' %>
                <%= submit_tag "Submit", class: "btn btn-primary mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
