<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="landing-search">
          <div class="flex-search">
            <h2 class="title">Secure doctor appointments today</h2>
            <%= form_tag doctors_path, method: :get, class: "search-form-control" do %>
                <%= select_tag "specialties", options_from_collection_for_select(
                @specialties.all,
                :id, :name),
                class: 'form-control' %>
                <%= text_field_tag :location, params[:location], as: :string, placeholder: 'Enter a city',class: 'form-control', id: 'address-input' %>
                <%= number_field(:radius, :radius, placeholder: 'Radius', in: 0..150, step: 5, class: 'form-control') %>
                <%= submit_tag "Submit", class: "btn btn-primary mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
