<div id='map-cont' class="container">
  <div id='doctor-list'>
    <p class="idx-instruction"><i class="fas fa-info-circle"></i> Tap 'notify me' to get notified on any next available appointment with <%=  Specialty.find(params[:specialties]).name %>s in <%= params[:location] %></p>
    <% @doctors.each do |doctor| %>
      <div class="card-doc">
        <img id="doc-image"src=<%=doctor.picture_url%> alt="A doctor">
        <div class="card-doc-info">
          <h3> <%= doctor.first_name %> <%= doctor.last_name %></h3>
          <% doctor.specialties.each do |specialty| %>
            <% if specialty.id == params[:specialties].to_i %>
              <p class="card-doc-info-specialty"> <%= specialty.name %></p>
            <% end %>
          <% end %>
          <p><i class="fas fa-map-marker-alt"></i> <%= doctor.address %></p>
          <p><i class="fas fa-hourglass-half"></i><span> <%= doctor.waiting_time %></span> hr</p>
        </div>
        <div class="">
          <i class="fas fa-link ext-link"></i>
        </div>
      </div>
    <% end %>

    <%= form_for @search do |f| %>
      <%= f.hidden_field :specialty_id, { :value => params[:specialties] } %>
      <%= f.hidden_field :location, { :value => params[:location] } %>
      <%= f.hidden_field :radius, { :value => params[:radius] } %>
      <%= f.submit "Notify Me", :class => 'btn-ter' %>
    <% end %>
  </div>
  <%= render 'shared/map' %>
</div>


