<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= doctor.first_name %>
      <%= doctor.last_name %>
      <%= doctor.address %>
      <br>
      <%= doctor.waiting_time %>
      <img src=<%=doctor.picture_url%> alt="A doctor">
      <% doctor.specialties.each do |specialty| %>
        <%= specialty.name %>
      <% end %>
    </li>
  <% end %>
</ul>
