<div class="container" id="appointment">
  <div id="doctor-list">
    <% current_user.appointments.order(start_at: :ASC).each do |appointment| %>
      <div class="card-doc">
        <div class="header-card">Schedule: <%= appointment.start_at %></div>
        <div class="flex-card">
          <img id="doc-image"src=<%=appointment.doctor.picture_url%> alt="A doctor">
          <div class="card-doc-info">
            <h5><%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></h5>
            <% appointment.doctor.specialties.each do |specialty| %>
              <p><%= specialty.name %></p>
            <% end %>
            <p><%= appointment.doctor.address %></p>
          </div>
        </div>
        <div class="button-del">
          <a href="#" class="btn btn-del" data-toggle="modal" data-target="#delModalCenter">Cancel</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="delModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">You're about to delete your booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/map' %>

