<div class="container">
  <h1>Hi <%= current_user.first_name %>!</h1>

  <h2>My searches</h2>

  <div class="flexing-container">
    <div class="duck-cards">

      <% current_user.searches.each do |search| %>
        <div class="card-product border">

          <div class="spaced-between">
            <div class="card-product-infos">

              <div class="blue-bar">
              <p><%= search.specialty.name %> search</p>
              </div>

              <p>Location: <%= search.location %></p>
              <p>Radius: <%= search.radius %></p>

              <div style="display: flex; inline; justify-content: space-between;">
                <%= link_to "delete", "#", class: "btn btn-flat" %>
                <%= link_to "Edit", "#", class: "btn btn-flat" %>
              </div>
            </div>
          </div>

        </div>
      <% end %>

    </div>
  </div>

</div>
