<div class="container">
  <h1>Hi <%= current_user.first_name %>!</h1>

  <h2>My searches</h2>
  <br>
  <div class="flexing-container">
    <div class="duck-cards">
    <% current_user.searches.each do |search| %>
      <div class="card-product border">

        <div class="spaced-between">
          <div class="card-product-infos">
             <h1><%= link_to "My #{search.location.capitalize} #{search.specialty.name} search", search_path(search), class: "btn btn-flat" %></h1>
              <h2>your chosen specialty: <%= search.specialty.name %></h2>
              <br>
              <h5>your chosen location:<%= search.location %></h5>
              <br>
                <%= link_to "Edit", edit_search_path(search), class: "btn btn-flat" %>
                <%= link_to "delete", search_path(search), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-flat" %>
              <br>
              <br>
              <p>your chosen radius:<%= search.radius %></p>
              <br>


            </div>
          </div>
      </div>
    <% end %>
  </div>

</div>
